.card {
  height: 7rem;
  width: 29rem;
}
.size-card {
  height: calc(11 * var(--font-size));
  width: calc(7.5 * var(--font-size));
}
.size-image {
  width: calc(7.5 * var(--font-size));
  height: calc(8 * var(--font-size));
  object-fit: cover;
}

.font {
  font-size: calc(0.7 * var(--font-size));
}

.font-cate {
  font-size: calc(2 * var(--font-size));
  padding-left: calc(0.1 * var(--font-size));
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: calc(0.7 * var(--font-size));
}
