<ion-content [fullscreen]="true" color="light">
  <app-header [title]="'DASHBOARD.change_password' | translate" [isShowBackButton]="false"> </app-header>
  <div class="col-12 col-sm-6 mt-3">
    <h6 class="mb-0 mb-sm-2">
      {{ 'DASHBOARD.CHANGE_PASSWORD.current_password' | translate }}
      <ion-text color="danger">*</ion-text>
    </h6>
    <div class="position-relative">
      <ion-input required [type]="isActive1 ? 'text' : 'password'" class="border-bottom" color="dark" #currentPassword></ion-input>
      <ion-icon name="eye" (click)="showPassword1()" class="position-absolute" color="dark"></ion-icon>
    </div>

    <h6 class="mb-0 mb-sm-2">
      {{ 'DASHBOARD.CHANGE_PASSWORD.new_password' | translate }}
      <ion-text color="danger">*</ion-text>
    </h6>
    <div class="position-relative">
      <ion-input required class="border-bottom" [type]="isActive2 ? 'text' : 'password'" #newPassword></ion-input>
      <ion-icon name="eye" (click)="showPassword2()" class="position-absolute"></ion-icon>
    </div>

    <h6 class="mb-0 mb-sm-2">
      {{ 'DASHBOARD.CHANGE_PASSWORD.confirm_password' | translate }}
      <ion-text color="danger">*</ion-text>
    </h6>
    <div class="position-relative">
      <ion-input required class="border-bottom" [type]="isActive3 ? 'text' : 'password'" #confirmPassword></ion-input>
      <ion-icon name="eye" (click)="showPassword3()" class="position-absolute"></ion-icon>
    </div>

    <ion-button
      mode="ios"
      expand="block"
      class="mt-3 d-block"
      (click)="changePassword(currentPassword.value, newPassword.value, confirmPassword.value)"
    >
      {{ 'DASHBOARD.CHANGE_PASSWORD.submit' | translate }}</ion-button
    >
  </div>
</ion-content>
