<ion-content class="no-scroll" color="light">
  <ion-grid
    class="h-100 d-flex justify-content-center align-items-center p-1 p-sm-5"
  >
    <ion-row class="w-100">
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <h5 class="text-center">
          <ion-text color="dark">
            <b>
              {{
                'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.request_password_token'
                  | translate
              }}
            </b>
          </ion-text>
        </h5>
        <form
          class="login-form mt-2"
          [formGroup]="form"
          (ngSubmit)="forgotPassword()"
        >
          <ion-item>
            <ion-label position="floating" color="dark">
              {{
                'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.username'
                  | translate
              }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              formControlName="username"
              required
              color="dark"
              [placeholder]="
                ('LOGIN.enter_your' | translate) +
                ' ' +
                ('LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.username'
                  | translate)
              "
              type="text"
              (ionFocus)="clearResponse()"
              (keyup.enter)="forgotPassword()"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="dark">
              {{
                'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.email' | translate
              }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              formControlName="email"
              color="dark"
              [placeholder]="
                ('LOGIN.enter_your' | translate) +
                ' ' +
                ('LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.email'
                  | translate)
              "
              required
              type="email"
              (ionFocus)="clearResponse()"
              (keyup.enter)="forgotPassword()"
            >
            </ion-input>
          </ion-item>
          <ion-item
            *ngIf="
              (!form.controls.username.valid && form.controls.username.dirty) ||
              (!form.controls.email.valid && form.controls.email.dirty) ||
              (response && !response.success)
            "
            lines="none"
          >
            <ion-icon
              title="Please enter a valid name."
              color="danger"
              name="alert-circle-outline"
            >
            </ion-icon>

            <ion-text color="danger" class="ml-1">
              <span *ngIf="form.controls.username.hasError('required')">
                {{
                  'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.please_enter_username'
                    | translate
                }}
              </span>
              <span *ngIf="form.controls.email.hasError('required')">
                {{
                  'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.please_enter_a_email_address'
                    | translate
                }}
              </span>
              <span *ngIf="form.controls.email.hasError('maxLength')">
                {{
                  'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL._50_characters_is_maximum_permitted'
                    | translate
                }}
              </span>
              <span *ngIf="form.controls.email.hasError('pattern')">
                {{
                  'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.please_enter_a_real_email'
                    | translate
                }}
              </span>
              <span *ngIf="response && !response.success">{{
                'LOGIN.email_is_not_exist' | translate
              }}</span>
            </ion-text>
          </ion-item>

          <ion-buttons class="d-flex justify-content-center mt-3">
            <ion-button
              color="dark"
              fill="solid"
              mode="ios"
              class="ion-no-margin"
              (click)="forgotPassword()"
            >
              {{
                'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.send' | translate
              }}
              <ion-spinner
                [class.d-none]="!isSendingRequest"
                name="circles"
                color="light"
                class="ml-2"
              ></ion-spinner>
            </ion-button>
            <ion-button
              mode="ios"
              color="medium"
              class="ion-no-margin"
              slot="end"
              (click)="dismissModal()"
            >
              {{
                'LOGIN.FORGOT_PASSWORD.FORGOT_PASSWORD_MODAL.cancel' | translate
              }}
            </ion-button>
          </ion-buttons>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
