ion-icon {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  h5 {
    font-size: 1.1rem;
  }
  ion-item,
  ion-label,
  ion-input,
  ion-button,
  span {
    font-size: 0.8rem;
  }
  ion-button {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
}
